.login_container {
   min-height: 100vh;
   width: 100%;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

.login_container .login_title {
   font-family: 'Poppins', sans-serif;
   font-size: 3rem;
   color: yellow;
   text-shadow: 2px 2px 6px red;
   margin-bottom: 1rem;
}

.form {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   gap: 0.2rem;
}

.form_container {
   width: 400px;
   max-width: 80%;
   height: 400px;
   background-color: white;
   border-radius: 8px;
   box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
   display: flex;
   flex-direction: column;
   margin:  auto;
}

.login_container .form_container .header {
   color: rgb(98, 0, 255);
   flex: 20%;
   display: flex;
   font-size: 1.5rem;
   justify-content: center;
   align-items: center;
   text-transform: capitalize;
}

.form_container .body {
   flex: 60%;
}

.form_container .footer {
   flex: 20%;
   display: flex;
   justify-content: center;
}

.form_container .footer button {
   border-radius: 7px;
   width: 100px;
   height: 40px;
   background-color: rgb(98, 0, 255);
   font-weight: bold;
   color: white;
   border: 0 none;
   border-radius: 4px;
   cursor: pointer;
   padding: 10px 5px;
   margin: 10px 5px;
   margin: 5px;
}

.form_container .footer button:disabled {
   background-color: rgb(28, 9, 59);
}

.sign_up_container {
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.sign_up_container input {
   margin: 5px;
   width: 200px;
   height: 40px;
   padding-left: 5px;
   font-size: 20px;
}

.personal_info_container {
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.personal_info_container input {
   margin: 5px;
   width: 200px;
   height: 40px;
   padding-left: 5px;
   font-size: 20px;
}

/* PROGRESS BAR */
.progress_bar {
   width: 400px;
   height: 10px;
   background-color: yellow;
   /* box-shadow: 2px 2px 6px red; */
   border-radius: 5px;
   margin-bottom: 50px;
}

/* media small screen */
@media screen and (max-width: 600px) {
   .progress_bar {
      max-width: 80%;
      margin: 0 auto;
   }
   .login_container .login_title{
       font-size: 2rem;
   }

   .form{
       gap: 2rem;
   }
}

.progress_bar div {
   width: 33.3%;
   height: 100%;
   background-color: rgb(98, 0, 255);
   transition: width 0.2s ease-in-out;
   border-radius: 5px;
}

.other_info_container {
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.other_info_container input {
   margin: 5px;
   width: 200px;
   height: 40px;
   padding-left: 5px;
   font-size: 20px;
}

input {
   border: 2px solid rgb(98, 0, 255);
   border-radius: 5px;
}

input::placeholder {
   font-size: 1rem;
   padding-left: 10px;
}

form label {
   font-size: 12px;
   font-style: italic;
   margin: 5px 0;
   color: black;
}
