.card {
   position: relative;
   cursor: pointer;
}
.card img {
   width: 100%;
   display: block;
   border: 2px solid #fff;
   border-radius: 6px;
}

/* front of card - the picture */
.card .front {
   transform: rotateY(90deg);
   position: absolute;
   transition: transform 200ms ease-in;
}
.flipped .front {
   transform: rotateY(0deg);
   transition-duration: 200ms;
}
/* back of card - the picture */
.card .back {
  transition: transform 200ms ease-in;
  transition-duration: 200ms;
}
.flipped .back {
   transform: rotateY(90deg);
   transition-duration: 0ms;
}
